<body>
    <h3>Edit Meal</h3>
    <form action="/meals" method="POST">

        <label>Total Calories (kcal):
            <input type="text" name="totalCalories">
        </label><br>

        <label>Protein (g):
            <input type="text" name="protein">
        </label><br>

        <label>Carbohydrates (g):
            <input type="text" name="carbohydrates">
        </label><br>

        <label>Fats (g):
            <input type="text" name="fats">
        </label><br>


        <input type="submit" value="Add Meal">
        <a href="/dashboard" class="btn orange">Cancel</a>
    </form>

</body>

</html>