<h3>Add weight measurement</h3>
<div class="row">
    <form action="/weight" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="Date" name="Date">
                <label for="Date">Date</label>
            </div>
            <div class="input-field">
                <input type="text" id="weight" name="weight">
                <label for="weight">Weight:</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/profile" class="btn orange">Cancel</a>
        </div>
    </form>
</div>